@font-face {
    font-family: "loja";
    src: url(/fonts/mabook/Mabook.otf)
}

@font-face {
    font-family: "loja2";
    src: url(/fonts/mabook/Mabook.ttf)
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "loja";
}

body{
    height: 100vh !important;
   background-image: url(/images/bri-tucker-LGG5P7KCziU-unsplash.jpg);
    display: flex !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}


form > div{
display: flex !important;
margin-bottom: 10px !important;
flex-direction: column !important;
gap: 5px !important;
}

form{
    width: 20% !important;
    font-family: "loja2" !important;
background-color: rgb(0, 0, 0) !important;
padding: 10px !important;
margin-bottom: 400px !important;
border-radius: 20px !important;
margin-top: 20px !important;
box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.753) !important;
}

legend{
    font-family: "loja";
    font-size: 30px;
    color:rgb(0, 162, 255);
    text-align: center;
    }

h1{
    font-family: "loja" !important;
    color: rgb(255, 255, 255) !important;
    font-size: 80px !important;
    letter-spacing: 3px !important;
    -webkit-text-stroke: 2px black !important;
}

h3{
color: slategray !important;    
font-size: 12px !important;
font-family: "loja2" !important;
color: rgb(255, 255, 255) !important;
letter-spacing: 3px !important;
}

h4{
    font-family: "loja2" !important;
    color: rgb(255, 255, 255) !important;
    font-size: 12px !important;
    letter-spacing: 3px !important;
}

div > input{
    font-family:Arial, Helvetica, sans-serif !important;
 height: 25px !important;   
 border: 1px solid rgb(192, 192, 192) !important;
font-size: 20px !important;
}

div > input:focus{
    outline: 2px solid rgb(0, 162, 255);
}

form > input{
    font-family: "loja2";
background-color:  rgb(0, 162, 255);
width: 100%;
border-radius: 10px;
border: none;
height: 25px;
transition: background-color .3s ;
font-size: 18px;
}

form > input:hover{
    background-color:rgb(0, 78, 122);
    cursor: pointer;
}

form  label{
    font-size: 14px !important;
    color: rgb(0, 162, 255) !important;
    
}
a{
    font-family: "loja" !important;
    color: rgb(255, 255, 255) !important;
    font-size: 16px !important;
    text-decoration: none !important;
    text-align: center !important;
}